
<ion-view view-title="目标"  hide-nav-bar="true">
  <!-- <ion-nav-buttons side="primary">
   <button class="button button-clear" ng-click="toggleLeftMenu()">
            <i class="icon ion-navicon"></i>
    </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <a class="button icon-left ion-calendar button-clear" href="#/healthCoach/healthCoachList"></a>
    </ion-nav-buttons> class="has-header"-->

<ion-content >
 <div class="bar bar-calm item-input-inset">
   <button class="button button-icon icon ion-navicon" ng-click="toggleLeftMenu()"></button> 
   <h1 class="title">目标</h1>
</div>


  <ion-nav-view name="tab-targetChange"></ion-nav-view>

  </ion-content>
</ion-view>
