
<ion-view view-title="记录">
  <ion-nav-buttons side="primary"><!-- style="height:600px;" hide-nav-bar="true" -->
    <button class="button button-clear" ng-click="toggleLeftMenu()">
            <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a class="button icon-left ion-android-apps button-clear" href="#/tab/recordList"></a>
  </ion-nav-buttons>


  <ion-content>
    <!-- <div class="button-bar bar-light">
      <a class="button button-energized" href="#/tab/targetGraph" >依从率图</a>
      <a class="button" href="#/tab/recordList">体征表</a>
    </div> -->

     <ion-refresher pulling-text="下拉刷新" on-refresh="refrsh_graph()"></ion-refresher>

<div ng-if="showGraph==true">

<style>
body {
  /*cursor: url('http://ionicframework.com/img/finger.png'), auto;*/
}
ion-scroll {
  width: 100%;
  font-size: 18px;
  white-space: nowrap;
  padding: 0px;
  line-height: 40px;
}
</style>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view style="width:150px;height:160px;background-color:#008080;margin-top:2px;">
        <ion-content >
          <div class="list" >
            <a class="item calm" href="javascript:void(0);" ng-click="" style="background-color:#008080">
              <i class="icon ion-podium"></i> 收缩压
            </a>
            <a class="item light" href="javascript:void(0);" ng-click="" style="background-color:#008080">
              <i class="icon ion-podium"></i> 舒张压 
            </a>
            <a class="item light" href="javascript:void(0);" ng-click="" style="background-color:#008080">
              <i class="icon ion-speedometer"></i> 脉率
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
<script id="templates/popover1.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
            
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <ion-scroll direction="x" zooming="false" scrollbar-x="false" style="background-color:#008080">

        <button class="button button-calm button-clear" ng-click="popover.show($event)" style="width:20%;">血压
        </button>
        <button class="button button-light button-clear" ng-click="popover1.show($event)" style="width:20%">血糖
        </button>
        <button class="button button-light button-clear" ng-click="popover1.show($event)" style="width:20%">血氧
        </button>
        <button class="button button-light button-clear" ng-click="popover1.show($event)" style="width:20%">体温
        </button>
        <button class="button button-light button-clear" ng-click="popover1.show($event)" style="width:20%">体重
        </button>
        <button class="button button-light button-clear" ng-click="popover1.show($event)" style="width:20%">心率
        </button>

  </ion-scroll>
<!--      <div style="background-color:#6495ED;width:120px;text-align:center;">   
  <h3 style='font-size: 20px;color:#fff;'>体征参数</h3>
  </div>   -->
 <!-- <p ng-bind-html="dayWork.taskCompliance">任务完成情况</p> -->
 <p style='margin-left:10px;white-space:pre-wrap;margin-top:10px;font-size:15px;'> <b>收缩压 150mmHg 2015-11-13</b></p>
        <div style='width: 98%; height: 280px;margin-left:1%;margin-top:-30px;' id='chartdiv_graph'>
    </div>
    <div style="text-align:center;margin-top:10px;"> 
     <!--  <p style="color:#2894FF;font-size:16px;"></p> -->
      <p style="color:#2894FF;font-size:16px;">计划依从率：{{PlanCompliance*100}}%，进度{{ProgressRate*100}}%，剩余{{RemainingDays}}天</p>
    </div>
</div>   
<!-- <h4 class="title">2015-11-13 任务完成情况</h4> -->

  <ion-scroll direction="y" zooming="false" scrollbar-y="true" style="height:200px;border-width:1px; border-style:dashed none none none"  class="padding">
 
 <div style="width:120px;text-align:center;">   </div>   
  <h3 style='font-size: 16px;font-family:'微软雅黑''><b>任务执行</b></h3>

  <p style='margin-left:10px;white-space:pre-wrap;font-size: 14px;'><i class="icon ion-ribbon-a"></i> 体重管理- <br><i class="icon ion-ribbon-a"></i> 合理饮食- <br><i class="icon ion-ribbon-a"></i> 锻炼- <br><i class="icon ion-ribbon-a"></i> 健康教育 <br><i class="icon ion-ribbon-a"></i> 药物治疗- ✘药物治疗<br><i class="icon ion-ribbon-a"></i> 体征测量- <br><i class="icon ion-ribbon-a"></i> 风险评估- <br>
  </p>
  </ion-scroll><!-- ✘体重测量✘快走 ✘骑自行车 ✘散步✘谷类 ✘肉类 ✘鱼虾 ✘蛋类 ✘奶类 ✘豆类 ✘蔬菜 ✘水果 ✘饮水- ✘高血压✘血压 ✘脉搏 ✘血糖✘风险评估 -->

<!--     <div class="row">
      <div class="col" style="text-align:center;">
         <p><i class="icon ion-arrow-swap"></i>体征选择</p>
         <select ng-model="vitalInfo" ng-change="changeVitalInfo(vitalInfo)" ng-options="option.SignName for option in options" class="select-block select-calm">
         </select>
      </div>
      <div class="col col-67" style="text-align:center">
         <p> {{orignalValue}}</p> 
         <p> {{targetValue}}</p> 
       </div>
    </div> -->
<!-- <img src="img/target.png"> --><!-- <img src="img/original.png"> -->






<div ng-if="showGraph==false">
   <div style="text-align:center;margin-top:50px;">    
      <p style="color:#2894FF;font-size:16px;">{{graphText}}</p>
    </div>
</div>  
  </ion-content>
</ion-view>

      <!-- <select class="select-block select-calm">
        <option selected="">收缩压</option>
        <option >舒张压</option>
        <option>脉率</option>
      </select> -->
      <!-- <select ng-options="option.name as option.name for option in options"
    ng-model="item" ng-change="update(item)"> -->